body{
    font: 20px Arial, sans-serif;
}
.navbar {
    background-color: #0B615E
}

.quem-somos{
    background-color: #6E6E6E;
    color: white;
}

.margin{
    padding-bottom: 50px;
    padding-top: 10px;
}

.parceiros{
    background-color: darkslategrey;
    color: white;
}

.bg-footer{
    background-color: black;
    color:white;

}